body {
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
}

h1 {
  color: #42B5DB;
  text-align: center;
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 4em;
  margin-bottom: 20px;
}

.weatherbox {
  margin: 0px 20px;
  padding: 20px;
  height: 200px;
  background-color: #aaa;
}
